<div>
<h1 class="text ps-4">New Post</h1>
</div>

<% if @current_user %>
  <%= form_with model: @post do |form| %>
    <div class="mb-3">
      <%= form.label "title", class: "form-label" %>
      <%= form.text_field "title", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label "description", class: "form-label" %>
      <%= form.text_area "description", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label "posted_on", class: "form-label" %>
      <%= form.date_field "posted_on", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label "uploaded_image", class: "form-label"%>
      <%= form.file_field "uploaded_image", accept: "image/jpg,image/jpeg,image/png,image/heic", class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
    <%= form.hidden_field "place_id" %>
    <%= form.hidden_field "user_id" %>
  <% end %>
<% end %>